[submodule "skills"]
	path = skills
	url = https://github.com/anil-wu/skills.git

[submodule "agents"]
	path = agents
	url = https://github.com/anil-wu/metai-game-code-agent.git
[submodule "web"]
	path = web
	url = git@github.com:anil-wu/metai-game-front.git
[submodule "service"]
	path = service
	url = git@github.com:anil-wu/sparkx-service.git
	branch = feature/login
